@model IEnumerable<GestionRestau.Models.TableCmd>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Tables libres</h5>
        <p class="card-text">
            <h1>
                @ViewData["tableLibres"]
               
            </h1>
        </p>
    </div>
</div>


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Tables occupées</h5>

        <p class="card-text">
            <h1>
                @ViewData["tableOccupees"]
            </h1>
        </p>
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emplacement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serveur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occupation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emplacement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serveur.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
